* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
}

._bg-item {
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(180deg, #ff56b1 0%, #ffcde5 100%);
	box-shadow: 4px 4px 13px 3px rgba(0, 0, 0, 0.25);
	color: #fff;
}

._bg-block {
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(214, 214, 214, 1), rgba(123, 123, 123, 1));
	padding: 4px;
	border-radius: 39px;
	span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 35px;
		background: radial-gradient(50% 50% at 50% 50%, #272f6d 4.17%, #06092f 100%);
	}
}

._bg-button {
	border-radius: 14px;
	background: linear-gradient(180deg, #9a006f 0%, #dc00b9 100%);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 10px 20px;
}

.main {
	// .main__body

	&__body {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		min-height: 100vh;
		pointer-events: fill;

		transition: all 0.7s ease 0.3s;

		._game &,
		._shop & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(5px);
			pointer-events: none;
		}
	}

	&__score-box {
		position: absolute;
		top: 20px;
		right: 65px;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 22px;
	}
	&__button {
	}
}

//========================================================================================================================================================

.snake-game {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;

	transform: translateX(5px);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition: all 0.7s ease 0.3s;

	._game & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		pointer-events: fill;
	}
	// .game__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		row-gap: 15px;
		width: 100%;

		background-image: url("@img/other/bg-1.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	// .game__header

	&__header {
		padding: 18px 60px 0 24px;
	}
}

.field {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex: 1 1 auto;
	&__body {
		position: relative;
		display: flex;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			z-index: 105;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: rgba(255, 220, 175, 0.95);
			transform: scale(0.5);
			opacity: 0;
			transition: all 0.3s ease 0s;
		}

		&._level-up {
			&::before {
				transform: scale(1);
				opacity: 1;
			}
		}
	}

	&__worm {
	}

	&__fruit {
		position: absolute;
		top: 0;
		left: 0;
		&[data-fruit="1"] {
			img {
				max-width: 26px;
			}
		}
		&[data-fruit="2"] {
			img {
				max-width: 31px;
			}
		}
		&[data-fruit="3"] {
			img {
				max-width: 30px;
			}
		}
	}
}

.worm {
	&__body {
	}

	&__head {
		position: absolute;
		top: 0;
		left: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;

		// transition: transform 0.1s linear 0s;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		[data-color="blue"] & {
			// background: #3194ed;
			// box-shadow: 0px -2px 4px 0px #236eb3 inset, 0px 3px 4px 0px #236eb3 inset;
			background-image: url("@img/worm/body-blue.png");
		}
		[data-color="purple"] & {
			// background: #a631ed;
			// box-shadow: 0px -2px 4px 0px #2f23b3 inset, 0px 3px 4px 0px #9623b3 inset;
			background-image: url("@img/worm/body-purple.png");
		}
		[data-color="yellow"] & {
			// background: #edda31;
			// box-shadow: 0px -2px 4px 0px #b39c23 inset, 0px 3px 4px 0px #b39c23 inset;
			background-image: url("@img/worm/body-yellow.png");
		}
	}
	&__mouth {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%);

		width: 12px;
		height: 16px;
		background-image: url("@img/worm/mouth.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__eyes {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 20%;

			width: 8px;
			height: 8px;

			background-image: url("@img/worm/eye.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&::before {
			top: 20%;
		}
		&::after {
			bottom: 20%;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;

		// transition: transform 0.1s linear 0s;

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		[data-color="blue"] & {
			// background: #3194ed;
			// box-shadow: 0px -2px 4px 0px #236eb3 inset, 0px 3px 4px 0px #236eb3 inset;
			background-image: url("@img/worm/body-blue.png");
		}
		[data-color="purple"] & {
			// background: #a631ed;
			// box-shadow: 0px -2px 4px 0px #2f23b3 inset, 0px 3px 4px 0px #9623b3 inset;
			background-image: url("@img/worm/body-purple.png");
		}
		[data-color="yellow"] & {
			// background: #edda31;
			// box-shadow: 0px -2px 4px 0px #b39c23 inset, 0px 3px 4px 0px #b39c23 inset;
			background-image: url("@img/worm/body-yellow.png");
		}
	}
}

//========================================================================================================================================================

.header {
	width: 100%;
	// .header__body

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	// .header__button

	&__button {
		width: 74px;
	}

	&__title,
	&__level {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: #fff;
	}

	&__level {
		background: rgba(46, 46, 46, 0.36);
		padding: 10px;
	}

	// .header__score-game

	&__score-box {
	}

	&__buttons {
	}
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: #ff2b01;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: #ba0606;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 238, 0);
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes ride {
	0%,
	100% {
		transform: translateY(0) rotate(0);
	}
	60% {
		transform: translateY(-2px) rotate(-5deg);
	}
}
@keyframes shake {
	0%,
	50%,
	100% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-5deg);
	}
	75% {
		transform: rotate(5deg);
	}
}
